.mainContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    
}

.counterAndFloors{
    display: flex;
    flex-direction: row-reverse;
}
#floors {
    flex-direction: column  ;
    justify-self: space-between;
    display: flex;

}

.elevators {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.floor {
    background-color: silver;
    background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
        linear-gradient(155deg, #d00 23px, transparent 23px),
        linear-gradient(335deg, #b00 23px, transparent 23px),
        linear-gradient(155deg, #d00 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 160px;
    border-bottom: 7px solid black;

}

.metal {
    position: relative;
    margin: 5px auto;
    outline: none;
    font: bold 4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    text-align: center;
    color: hsla(0, 0%, 20%, 1);
    text-shadow: hsla(0, 0%, 40%, .5) 0 -1px 0, hsla(0, 0%, 100%, .6) 0 2px 1px;
    background-color: hsl(0, 0%, 90%);
    box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 4px,
        /* border */
        inset hsla(0, 0%, 15%, .8) 0 -1px 5px 4px,
        /* soft SD */
        inset hsla(0, 0%, 0%, .25) 0 -1px 0px 7px,
        /* bottom SD */
        inset hsla(0, 0%, 100%, .7) 0 2px 1px 7px,
        /* top HL */
        hsla(0, 0%, 0%, .0) 0 -5px 6px 4px,
        /* outer SD */
        hsla(0, 0%, 100%, .0) 0 5px 6px 4px;
    /* outer HL */
    transition: color .2s;
}


.elevatorsStyle {
    width: 80px;
    height: 80px;
    margin: 0 10px;
    position: relative;
    margin-bottom: 0px;
    transition: margin-bottom var(--transition-duration, 0s);

}

.counterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    
    
}
.counterStyle{
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
}

.metal.linear {
    width: auto;
    font-size: 3em;
    height: auto;
    border-radius: .5em;
    background-image: -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, .1) 7.5%),
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 4%, hsla(0, 0%, 0%, .03) 4.5%),
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .15) 2.2%),
        linear-gradient(180deg, hsl(0, 0%, 78%) 0%, hsl(0, 0%, 90%) 47%, hsl(0, 0%, 78%) 53%, hsl(0, 0%, 70%)100%);
}

.metal.linearGreenBackground {
    width: auto;
    font-size: 3em;
    height: auto;
    border-radius: .5em;
    background-color: green;
}